/* Faunus, Regular */
@font-face {
    font-family: "Faunus";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url("Faunus.otf")
}

/* Satyr10, Italic */
@font-face {
    font-family: "Satyr10";
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    src: url("Satyr10-italic.otf")
}

/* Satyr10, Regular */
@font-face {
    font-family: "Satyr10";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url("Satyr10.otf")
}

